{% extends "chatbot/base.html" %}
{% block styles %}
<style>
  body {
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .register-container {
    width: 450px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
</style>
{% endblock %}
{% block content %}
{% if messages %}
<div class="row justify-content-center">
  <div class="col-md-6">
    {% for message in messages %}
    <div
      class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show mt-3"
      role="alert">
      <i
        class="{% if message.tags == 'error' %}fas fa-exclamation-circle{% elif message.tags == 'success' %}fas fa-check-circle{% elif message.tags == 'info' %}fas fa-info-circle{% elif message.tags == 'warning' %}fas fa-exclamation-triangle{% else %}fas fa-bell{% endif %} me-2"></i>
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<div class="row justify-content-center">
  <div class="container register-container">
    <h2 class="text-center mb-4">Register</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
    <div class="mt-3 text-center">
      <span>Already have an account? </span><a href="{% url 'login' %}" class="text-info">Sign In</a>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".toggle-password").click(function () {
      let input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
        $(this).removeClass("fa-eye").addClass("fa-eye-slash");
      } else {
        input.attr("type", "password");
        $(this).removeClass("fa-eye-slash").addClass("fa-eye");
      }
    });
  });
</script>
{% endblock %}